<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add a Complaint
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Complaint Title</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Let It Rip!</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
  </div>

</mat-expansion-panel>
</mat-accordion>
<app-view-complaints></app-view-complaints>